{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "react-app"
  ],
  "globals": {
    "browser": true,
    "dataLayer": true,
    "google": true,
    "mixpanel": true
  },
  "rules": {
    "camelcase": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": 0,
    "react/no-array-index-key": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "react/prop-types": 0,
    "arrow-body-style": 0,
    "no-unused-vars": ["error"],
    "global-require": 0,
    "import/no-dynamic-require": 0,
    "no-multiple-empty-lines": [2, {"max": 1}]
  },
  "overrides": [
  ]
}
