$textColor: #333;
$gray: #373737;

$primary: #FFCAE9;
$secondary: #FA9BCF;
$tertiary: #F4DBE9;
$quartiary: #FFF0F1;
$highlight: #CDD0F8;

h1,
h2,
h3 {
  font-weight: 500;
}

.container {
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(12, 1fr);
  box-sizing: border-box;
  color: $textColor;
  font-size: 18px;

  p {
    line-height: 1.4;
  }
}

.header {
  grid-column-end: span 6;
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
  white-space: nowrap;
  padding-left: 1.5rem;
  text-align: right;
  
  h1 {
    font-size: 300px;
    font-weight: 700;
    line-height: .9;
    margin: 0;
    padding: 0;
  }

  @media (max-width: 600px) {
    grid-column-end: span 12;
    padding: 0 1.5rem;
    text-align: center;

    h1 {
      font-size: 80vw;
    }
  }
}

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: $textColor;
  background-image: linear-gradient(
      45deg,
      $primary 0%, 
      $secondary 50%, 
      $tertiary 100%, 
  );
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
  /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

}

.gradient-text:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}


/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}

.sidebar {
  grid-column-end: span 4;
  margin-top: 100px;
  
  @media (max-width: 1000px) {
    grid-column-end: span 6;
    margin-top: 50px;
    padding-right: 1.5rem;
  }

  @media (max-width: 600px) {
    grid-column: 2 / span 10;
    margin-top: 0;
    padding: 0;

    h2 {
      margin-top: 0;
    }
  }
}

.content {
  grid-column: 2 / span 10;
  padding: 40px 0;

  display: grid;
  grid-column-gap: 16px;
  grid-template-columns: repeat(10, 1fr);

  @media (max-width: 1000px) {
    grid-column: 2 / span 10;
    padding: 0;
  }

  h2 {
    margin-top: 30px;
  }
}

.fullWidth {
  grid-column: 2 / span 8;

  @media (max-width: 1250px) {
    grid-column: 2 / span 5;
  }

  @media (max-width: 1000px) {
    grid-column: 2 / span 6;
  }

  @media (max-width: 600px) {
    grid-column: 2 / span 7;
  }
}

.project {
  grid-column: span 5;

  @media (max-width: 600px) {
    grid-column: span 10;
  }

  .projectDetails {
    background-color: $quartiary;
  }

  &:nth-child(2n+3) {
    margin-top: -100px;

    @media (max-width: 600px) {
      margin-top: 0;
    }
  }

  &:nth-child(3n+2) {
    .projectDetails {
      background-color: $tertiary;
    }
  }

  &:nth-child(3n+3) {
    .projectDetails {
      background-color: $highlight;
    }
  }
}

.projectImage {
  position: relative;
  z-index: 1;
  grid-column: 1 / span 3;
  clip-path: polygon(
    0 5%, 100% 0, 100% 96%, 0 99%
  );

  @media (max-width: 1000px) {
    max-height: 300px;
    clip-path: polygon(
    0 10%, 100% 0, 100% 89%, 0 99%
  );
  }

  @media (max-width: 600px) {
    grid-column: 3 / span 6;
    margin-bottom: -60px;
  }

  img {
    width: 100%;
  }
}

.projectDetails {
  position: relative;
  top: -4rem;
  grid-column-end: span 3;
  font-size: 16px;
  padding: 5rem 1.2rem 1rem 1.2rem;
  clip-path: polygon(
    0 0, 100% 0, 100% 93%, 0 100%
  );

  @media (max-width: 1250px) {
    grid-column-end: span 4;
  }

  @media (max-width: 1000px) {
    grid-column-end: span 5;
    top: 0;
  }

  @media (max-width: 600px) {
    grid-column: 1 / span 7;
    padding-bottom: 2rem;
    clip-path: polygon(
      0 0, 100% 0, 100% 95%, 0 100%
    );
  }

  h3 {
    margin-top: -4px;
  }
}

p span,
.projectDetails span {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
  font-size: 14px;
  background-color: rgba($primary, 0.5);
  border: 1px solid rgba($secondary, 0.5);
  color: #333;
  border-radius: 3px;
  padding: 0 3px;
  display: inline-block;
}

footer {
  grid-column: 2 / span 10;
  padding-bottom: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  a {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    font-size: 14px;
    background-color: rgba($primary, 0.5);
    border: 1px solid rgba($secondary, 0.5);
    color: #333;
    border-radius: 3px;
    padding: 3px 5px;
    display: inline-block;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    font-family: "New Amsterdam", sans-serif;
    font-size: 6rem;
    font-weight: 400;
    font-style: normal;
    width: 50%;
    text-align: right;

    @media (max-width: 600px) {
      font-size: 4rem;
      width: auto;
    }
  }
}
