$primary: #e39797;
$white: #333;

.container {
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(12, 1fr);
  box-sizing: border-box;
  color: $white;
  font-size: 18px;

  p {
    line-height: 1.4;
  }
}

.sidebar {
  grid-column-end: span 3;
  margin-top: 20px;

  @media (max-width: 1000px) {
    grid-column-end: span 6;
  }

  @media (max-width: 600px) {
    grid-column-end: span 12;
  }
}

.header {
  color: $primary;
  font-size: 47px;
  line-height: .9;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  margin-left: 15px;
  padding-top: 12px;
  padding-left: 6px;
  position: relative;
  background-color: $white;
  width: 250px;
  height: 250px;
  clip-path: polygon(0 0, 100% 10%, 10% 100%, 0 0);
  transition: clip-path 250ms ease-in-out;

  &:hover,
  &:focus {
    clip-path: polygon(0 0, 100% 0, 20% 100%, 0 0);
  }

  h1 {
    font-size: 47px;
    line-height: .9;
    margin: 0;
    padding: 0;
  }
}

.content {
  grid-column: 4 / span 8;
  padding: 40px 0;

  display: grid;
  grid-column-gap: 16px;
  grid-template-columns: repeat(8, 1fr);

  @media (max-width: 1000px) {
    grid-column: 2 / span 10;
    padding: 0;
  }

  h2 {
    margin-top: 80px;
    padding-left: 20px;
    position: relative;
    left: -20px;

    &:before {
      content: '';
      clip-path: polygon(0 0, 100% 20%, 30% 100%, 0 0);
      background-color: #fff;
      display: block;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 15px;
      left: 0;
      z-index: -1;
      opacity: .1;
    }
  }
}

.fullWidth {
  grid-column: 2 / span 4;

  @media (max-width: 1250px) {
    grid-column: 2 / span 5;
  }

  @media (max-width: 1000px) {
    grid-column: 2 / span 6;
  }

  @media (max-width: 600px) {
    grid-column: 2 / span 7;
  }
}

.spacer {
  grid-column-end: span 3;

  @media (max-width: 1250px) {
    grid-column: span 2;
  }
}

.projectImage {
  grid-column: 1 / span 3;
  clip-path: polygon(
    0 0, 100% 0, 100% 90%, 0 60%
  );

  @media (max-width: 600px) {
    grid-column: 3 / span 6;
    margin-bottom: -60px;
  }

  img {
    width: 100%;
  }
}

.projectDetails {
  grid-column-end: span 3;
  font-size: 16px;
  padding-top: 10px;

  @media (max-width: 1250px) {
    grid-column-end: span 4;
  }

  @media (max-width: 1000px) {
    grid-column-end: span 5;
  }

  @media (max-width: 600px) {
    grid-column: 1 / span 7;
    margin-bottom: 40px;
  }

  h3 {
    margin-top: -4px;
  }

  span {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    font-size: 14px;
    background-color: #e4c3c3;
    border: 1px solid #4e1717;
    color: #333;
    border-radius: 3px;
    padding: 0 3px;
    display: inline-block;
  }
}

.socialLink {
  a {
    text-decoration: none;
    background-color: $white;
    padding: 8px 6px 8px 9px;
    margin-right: 5px;
    display: inline-block;
    transition: clip-path 250ms ease-in-out;
  }

  &:first-child a {
    clip-path: polygon(0 0, 100% 35%, 30% 100%, 0 0);

    &:hover,
    &:focus {
      clip-path: polygon(20% 0, 100% 55%, 10% 100%, 20% 0);
    }
  }

  &:last-child a {
    clip-path: polygon(55% 0, 100% 90%, 0 70%, 55% 0);

    &:hover,
    &:focus {
      clip-path: polygon(75% 0, 80% 90%, 0 50%, 75% 0);
    }
  }
}
