.container {
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(12, 1fr);
  box-sizing: border-box;
  color: white;
  font-size: 18px;
  // max-width: 995px;


  p {
    line-height: 1.4;
  }
}

.sidebar {
  grid-column-end: span 3;
  padding: 40px;

  @media (max-width: 400px) {
    grid-column-end: span 2;
  }
}

.sidebarWrapper {
  position: sticky;
  top: 20px;
}

.header {
  font-size: 83px;
  text-transform: uppercase;
  font-weight: bold;
  transform: rotate(90deg);
  transform-origin: 0 0;
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 37px;

  @media (max-width: 400px) {
    font-size: 45px;
    left: 2px;
  }
}

.content {
  grid-column: 4 / span 8;
  padding: 40px 0;

  display: grid;
  grid-column-gap: 16px;
  grid-template-columns: repeat(8, 1fr);

  @media (max-width: 400px) {
    grid-column: 4 / span 8;
  }

  h2 {
    margin-top: 80px;
    padding-left: 20px;
    position: relative;
    left: -20px;

    &:before {
      content: '';
      background-color: #fff;
      display: block;
      width: 1px;
      height: 90px;
      position: absolute;
      top: -30px;
      left: 0;
    }
  }
}

.fullWidth {
  grid-column: 2 / span 4;
}

.spacer {
  grid-column-end: span 3;
}

.projectImage {
  grid-column: 1 / span 3;
  margin-bottom: 40px;
  position: relative;

  &:before {
    content: '';
    background-color: #fff;
    display: block;
    width: 110%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
  }

  img {
    width: 100%;
  }
}

.projectDetails {
  grid-column-end: span 3;
  font-size: 16px;
  padding-left: 40px;

  h3 {
    margin-top: -4px;
  }

  span {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    font-size: 14px;
    background-color: #e4e4e4;
    border: 1px solid #888888;
    color: #333;
    border-radius: 3px;
    padding: 0 3px;
    display: inline-block;
  }
}

.socialLink {
  font-weight: bold;

  a {
    color: #fff;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
